:root{
    --main-background: #22102F;
    --secondary-background: #540030;
    --card-background: #331647;
    --main-font-color: #FFFFFF;
    --icon-background: #DA001E;
    --font-h1: 2rem;
    --font-h2: 1rem;
    --primary-button-color: #540030;
  }